<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

</head>

<body>
<div th:insert="~{fragments/infoToast :: infoToast}">
</div>
<div th:replace="~{fragments/navigation :: navigation}">

</div>

<!-- header -->
<div th:each="item : ${blog}" class="mb-5">
    <header id="info2">
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    <span></span> [[${item.title}]]
                </h1>
            </div>
        </div>
    </header>
    <!-- end of header -->

    <!-- design -->
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>Escrito por: [[${item.user.name}]] [[${item.user.firstLastname}]]
                    [[${item.user.secondLastname}]]</h2>
                <p>Fecha publicaciónn [[${#dates.format(item.createdAt, 'dd-MM-yyyy')}]]</p>
            </div>

                <!-- item -->
                <div class="row">
                    <div class="col-4 align-content-center" >
                        <img class="img-info" id="img-info"  th:src="@{/uploads/{image} (image=${item.image})}"  height="200px"
                             width="300px" th:if="${item.image != null}">
                    </div>

                    <div class="design-text-info col-8">
                        <p th:utext="${item.content}"></p>
                    </div>
                </div>
                <!-- end of item -->
            <div class="row mt-5">
                <div class="col-12 text-end">
                    <a th:href="@{/blog/general}"  th:if="${flag == true}" class="btn btn-primary"> <i class="bi bi-arrow-left"></i><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline"> Regresar</span> </a>
                    <a th:href="@{/}"  th:if="${flag == false}"  class="btn btn-primary"> <i class="bi bi-arrow-left"></i><span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline"> Regresar</span> </a>
                </div>
               
            </div>
        </div>
    </section>
    <!-- end of design -->
</div>

</body>

</html>