<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div th:fragment="footer">
        <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/js/login.js}"></script>
        <script th:src="@{/js/login-perro.js}"></script>
        <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
        <script th:src="@{/js/sidebars.js}"></script>
    </div>
</body>

</html>