<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Adopt</title>
</head>
<body>

<div th:fragment="formAdopt" th:if="${adoptionInfo!= null}">
    <h5>¿Te interesa este agradable amigo?</h5>
    <form th:object="${adoptionInfo}" th:action="@{/adoptions/save}" method="post">
        <div class="col-12 px-5 mt-3">
            <input type="hidden" th:field="*{username}">
            <input type="hidden" th:field="*{petId}">

            <div class="d-grid gap-2">
                <button class="btn btn-primary">
                    Enviar solicitud de adopción
                </button>
            </div>
        </div>
    </form>
</div>

</body>
</html>