<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:insert="~{fragments/head :: head}"></header>

<body>
    <div th:insert="~{fragments/infoToast :: infoToast}"></div>

    <input type="hidden" th:value="${login}">

    <div th:insert="~{fragments/infoToast :: infoToast}">
    </div>

    <main>
        <div class="container" id="container">

            <!--Formulario de registro-->
            <div class="form-container formRegister sign-up-container">
                <form id="formRegister" th:action="@{/create-acount}" method="post" th:object="${user}" enctype="multipart/form-data">
                    <label class="label">Nombre</label>
                    <input type="text" name="name" placeholder="Nombre" th:value="${user.name}" required />
                    <div class="form-text text-danger" th:if="${errors != null && errors.get('name') != null}">
                        <span th:each="error: ${errors.get('name')}">
                            [[${error}]]
                            <br>
                        </span>
                    </div>

                    <label class="label">Primer apellido</label>
                    <input type="text" name="first_lastname" placeholder="Primer apellido" th:field="*{firstLastname}" required />
                    <div class="form-text text-danger" th:if="${errors != null && errors.get('firstLastname') != null}">
                        <span th:each="error: ${errors.get('firstLastname')}">
                            [[${error}]]
                            <br>
                        </span>
                    </div>

                    <label class="label">Segundo apellido</label>
                    <input type="text" name="second_lastname" placeholder="Segundo apellido" th:field="*{secondLastname}" required />
                    <div class="form-text text-danger " th:if="${errors != null && errors.get('secondLastname') != null}">
                        <span th:each="error: ${errors.get('secondLastname')}">
                            [[${error}]]
                            <br>
                        </span>
                    </div>

                    <label class="label">Username</label>
                    <input type="text" name="username" placeholder="Usuario" th:value="${user.username}" required />
                    <div class="form-text text-danger " th:if="${errors != null && errors.get('username') != null}">
                        <span th:each="error: ${errors.get('username')}">
                            [[${error}]]
                            <br>
                        </span>
                    </div>

                    <label class="label">Soy...</label>
                    <div>
                        <label class="radio" for="inlineRadio1"><input class="form-check-input" type="radio" name="rol"
                                th:value="ROLE_ADOPTADOR" th:field="*{role.name}" onclick="mostrarDocumentos()" >Adoptador</label>
                        <label class="radio" for="inlineRadio2"><input class="form-check-input" type="radio" name="rol"
                                th:value="ROLE_VOLUNTARIO" th:field="*{role.name}" onclick="ocultarDocumentos()">Voluntario</label>
                    </div>
                    <div class="form-text text-danger " th:if="${errors != null && errors.get('role') != null}">
                        <span th:each="error: ${errors.get('role')}">
                            [[${error}]]
                            <br>
                        </span>
                    </div>

                    <div id="container__docs" >
                        <!-- Indicar que se deben ingresar unicamente imagenes -->
                        <div class="mb-2">
                            <label for="ineImg" class="form-label">INE (Identificación Nacional de Elector)</label>
                            <input type="file" class="form-control" id="ineImg" name="ineImg" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg" required>
                            <div class="form-text text-danger" th:if="${IneError != null}" >[[${IneError}]]</div>
                        </div>
                        <div class="mb-2">
                            <label for="comprobanteImg" class="form-label">Comprobante de Domicilio</label>
                            <input type="file" class="form-control" id="comprobanteImg" name="comprobanteImg" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg" required>
                            <div class="form-text text-danger" th:if="${ComprobanteError != null}" >[[${ComprobanteError}]]</div>
                        </div>
                    </div>

                  
                    <label class="label">Contraseña</label>
                    <input type="password" name="password" placeholder="Contraseña" th:field="*{password}" onchange="validPassword()" id="password" required />
                    <label class="label">Confirmar contraseña</label>
                    <input type="password" name="password" placeholder="Confirmar Contraseña"   onchange="validPassword()" id="confirmPassword" required />
                    <button type="submit" id="buttonRegister" class="btn__primary" onclick="validPassword()">Registrar</button>
                </form> 
              
            </div>
            <!--Inicio de sesion perro-->
            <div class="form-container sign-in-container" id="loginContainer">

                <form th:action="@{/login}" method="post">
                    <div class="ear ear--left"></div>
                    <div class="ear ear--right"></div>
                    <div th:insert="~{fragments/alert :: alerts}">
                    </div>
                    <div class="face">
                        <div class="eyes">
                            <div class="eye eye--left">
                                <div class="glow"></div>
                            </div>
                            <div class="eye eye--right">
                                <div class="glow"></div>
                            </div>
                        </div>
                        <div class="nose">
                            <svg width="38.161" height="22.03">
                                <path
                                    d="M2.017 10.987Q-.563 7.513.157 4.754C.877 1.994 2.976.135 6.164.093 16.4-.04 22.293-.022 32.048.093c3.501.042 5.48 2.081 6.02 4.661q.54 2.579-2.051 6.233-8.612 10.979-16.664 11.043-8.053.063-17.336-11.043z"
                                    fill="#243946"></path>
                            </svg>
                            <div class="glow"></div>
                        </div>
                        <div class="mouth">
                            <svg class="smile" viewBox="-2 -2 84 23" width="84" height="23">
                                <path
                                    d="M0 0c3.76 9.279 9.69 18.98 26.712 19.238 17.022.258 10.72.258 28 0S75.959 9.182 79.987.161"
                                    fill="none" stroke-width="3" stroke-linecap="square" stroke-miterlimit="3"></path>
                            </svg>
                            <div class="mouth-hole"></div>
                            <div class="tongue breath">
                                <div class="tongue-top"></div>
                                <div class="line"></div>
                                <div class="median"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hands">
                        <div class="hand hand--left">
                            <div class="finger">
                                <div class="bone"></div>
                                <div class="nail"></div>
                            </div>
                            <div class="finger">
                                <div class="bone"></div>
                                <div class="nail"></div>
                            </div>
                            <div class="finger">
                                <div class="bone"></div>
                                <div class="nail"></div>
                            </div>
                        </div>
                        <div class="hand hand--right">
                            <div class="finger">
                                <div class="bone"></div>
                                <div class="nail"></div>
                            </div>
                            <div class="finger">
                                <div class="bone"></div>
                                <div class="nail"></div>
                            </div>
                            <div class="finger">
                                <div class="bone"></div>
                                <div class="nail"></div>
                            </div>
                        </div>
                    </div>
                    <!--Campos del formulario-->
                    <div class="login">
                        <input class="username" type="text" name="username" autocomplete="on" placeholder="Usuario" />

                        <input class="password" type="password" name="password" autocomplete="off" placeholder="Contraseña" />
                        <br>
                        <!--<a  th:href="@{/forgot-password}" class="" >¿Olvidaste tu contraseña?</a>-->
                        <br>
                        <br>
                        <div>
                            <button class="btn__primary">Entrar</button>
                        </div>
                    </div>
                </form>

            </div>

            <!--lado perro pelota-->
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>¡Volviste!</h1>

                        <div class="dog">
                            <div class="dog-body">
                                <div class="dog-tail">
                                    <div class="dog-tail">
                                        <div class="dog-tail">
                                            <div class="dog-tail">
                                                <div class="dog-tail">
                                                    <div class="dog-tail">
                                                        <div class="dog-tail">
                                                            <div class="dog-tail">
                                                                <div class="dog-tail"></div>
                                                            </div>
                                                            <div class="dog-tail"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="dog-torso"></div>
                            <div class="dog-head">
                                <div class="dog-ears">
                                    <div class="dog-ear"></div>
                                    <div class="dog-ear"></div>
                                </div>
                                <div class="dog-eyes">
                                    <div class="dog-eye"></div>
                                    <div class="dog-eye"></div>
                                </div>
                                <div class="dog-muzzle">
                                    <div class="dog-tongue"></div>
                                </div>
                            </div>
                        </div>

                        <div class="ball" tabindex="0"></div>
                        <button class="btn__secondary btn__login-register" id="signIn">Inicia sesión</button>
                    </div>
                    <!--lado logo-->
                    <div class="overlay-panel overlay-right">
                        <img th:src="@{/images/isotipo.png}" class="panel-logo isotipo">
                        <h1 class="h1sing">¡Hola, Amigo!</h1>
                        <p class="text">¿Aún no tienes cuenta? Crea una para no perderte de nada</p>
                        <button class="btn__secondary" id="signUp">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script>
        function validPassword() {
            var pass1 = $("#password").val();
            var pass2 = $("#confirmPassword").val();
            var submitButton = $("#buttonRegister");
            if (pass1 !== pass2) {
                submitButton.attr('disabled', true);
                $("#password").addClass('is-invalid');
                $("#confirmPassword").addClass('is-invalid');
            } else {
                $("#password").removeClass("is-invalid");
                $("#confirmPassword").removeClass("is-invalid");
                submitButton.attr('disabled', false);
                

            }
        }

        //Función para mostrar y ocultar el contenedor del formulario con el id forgotPassContainer
        function toggleContainers(containerToShow, containerToHide) {
            var container1 = $(containerToShow);
            var container2 = $(containerToHide);
            container1.toggleClass("show");
            container2.toggleClass("hide");
        }

        /*function mostrarDocumentos() {
            document.getElementById('container__docs').style.display = 'block';
        }

        function ocultarDocumentos() {
            document.getElementById('container__docs').style.display = 'none';
        }*/

    </script>
</body>

</html>