<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/403.css}">
    <link rel="stylesheet" th:href="@{/css/404.css}">
    <link rel="stylesheet" th:href="@{/css/405.css}">
    <link rel="stylesheet" th:href="@{/css/500.css}">
    <link rel="shortcut icon" th:href="@{/images/logo.ico}" type="image/x-icon"> \
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="main">
                    <div class="img">
                        <img class="img-fluid" th:src="@{/images/wood.png}">
                    </div>
                    <div class="dog">
                        <div class="dog__paws">
                            <div class="dog__bl-leg leg">
                                <div class="dog__bl-paw paw"></div>
                                <div class="dog__bl-top top"></div>
                            </div>
                            <div class="dog__fl-leg leg">
                                <div class="dog__fl-paw paw"></div>
                                <div class="dog__fl-top top"></div>
                            </div>
                            <div class="dog__fr-leg leg">
                                <div class="dog__fr-paw paw"></div>
                                <div class="dog__fr-top top"></div>
                            </div>
                        </div>
                        <div class="dog__body">
                            <div class="dog__tail"></div>
                        </div>
                        <div class="dog__head">
                            <div class="dog__snout">
                                <div class="dog__nose"></div>
                                <div class="dog__eyes">
                                    <div class="dog__eye-l"></div>
                                    <div class="dog__eye-r"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dog__head-c">
                            <div class="dog__ear-l"></div>
                            <div class="dog__ear-r"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="message-box" class="container-fluid">
                    <h1>Error 403</h1>
                    <p>Vaya, parece que no tienes permiso para ir ahí.</p>
                    <p>Puedes usar estos botones para volver con las mascotas</p>
                    <div id="buttons-con" class="container">
                        <div class="action-link-wrap">
                            <a onclick="history.back(-1)" class="link-button link-back-button">Volver</a>
                            <a th:href="@{/}" class="link-button">Inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>