<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/405.css}">
</head>


<body>
    <div class="mainbox">
        <div class="err">4</div>
        <div class="container">
            <div id="cat">
                <div id="ears">
                    <div class="ear"></div>
                    <div class="ear"></div>
                </div>
                <div id="head">
                    <div id="eyes">
                        <div class="eye">
                            <div class="pupil">
                                <div class="pupil_ref"></div>
                            </div>
                        </div>
                        <div class="eye">
                            <div class="pupil">
                                <div class="pupil_ref"></div>
                            </div>
                        </div>
                    </div>
                    <div id="nose"></div>
                    <div id="baffi_dx">
                        <div class="baffo"></div>
                        <div class="baffo"></div>
                        <div class="baffo"></div>
                    </div>
                    <div id="baffi_sx">
                        <div class="baffo"></div>
                        <div class="baffo"></div>
                        <div class="baffo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="err2">5</div>
        <div class="msg">Oh oh, nuestras patitas no han podido llevar a cabo esta acción
            <p>Descuida,te llevaremos al <a th:href="@{/}">Inicio</a> </p>
        </div>
    </div>
</body>

</html>