<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{fragments/head :: head}">
</header>

<body>
    <div th:replace="~{fragments/navigation :: navigation}">
    </div>

    <div class="container mt-3">
        <h2>Actualizar Mascota</h2>
        <div th:insert="~{fragments/alert :: alerts}">
        </div>

        <div class="row">
            <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
                <img class="img-fluid border-2 border-dark" th:src="@{/uploads/{image}(image=${pet.image})}" alt="" />
            </div>
            <div class="col-12 col-md-9">
                <form th:object="${pet}" class="row mt-3 px-5" th:action="@{/pets/update}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:if="${pet.image != null}" th:field="*{image}" />
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Nombre" />
                        <div class="form-text text-danger" th:if="${errors != null && errors.get('name') != null}">
                            <span th:each="error: ${errors.get('name')}">
                                [[${error}]]
                                <br>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <label for="agePet" class="form-label">Edad</label>
                        <input type="text" th:field="*{age}" class="form-control" id="agePet" aria-describedby="emailHelp" placeholder="Edad">

                        <div class="form-text text-danger" th:if="${errors != null && errors.get('age') != null}">
                            <span th:each="error: ${errors.get('age')}">
                                [[${error}]]
                                <br>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <label class="form-label">Tipo de mascota</label>
                        <div class="form-check">
                            <input th:field="*{type}" value="perro" class="form-check-input" type="radio" name="typePet" id="typePet1" checked>
                            <label class="form-check-label" for="typePet1">
                                Perro
                            </label>
                        </div>
                        <div class="form-check">
                            <input th:field="*{type}" value="gato" class="form-check-input" type="radio" name="typePet" id="typePet2">
                            <label class="form-check-label" for="typePet2">
                                Gato
                            </label>
                        </div>
                        <div class="form-text text-danger" th:if="${errors != null && errors.get('type') != null}">
                            <span th:each="error: ${errors.get('type')}">
                                [[${error}]]
                                <br>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <label class="form-label">Sexo de la mascota</label>
                        <div class="form-check">
                            <input th:field="*{sex}" value="macho" class="form-check-input" type="radio" name="sexPet" id="sexPet1">
                            <label class="form-check-label" for="sexPet1">
                                Macho
                            </label>
                        </div>
                        <div class="form-check">

                            <input th:field="*{sex}" value="hembra" class="form-check-input" type="radio" name="sexPet" id="sexPet2" checked>
                            <label class="form-check-label" for="sexPet2">
                                Hembra
                            </label>
                        </div>

                        <div class="form-text text-danger" th:if="${errors != null && errors.get('sex') != null}">
                            <span th:each="error: ${errors.get('sex')}">
                                [[${error}]]
                                <br>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <label for="color" class="form-label">Color</label>
                        <select id="color" class="form-select" th:field="*{color.id}">
                            <option selected value="0">Selecciona</option>
                            <option th:each="itemColor: ${listColors}" th:value="${itemColor.id}"
                                th:text="${itemColor.name}"></option>
                        </select>
                        <div class="form-text text-danger" th:if="${errors != null && errors.get('color') != null}">
                            <span th:each="error: ${errors.get('color')}">
                                [[${error}]]
                                <br>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <label for="size" class="form-label">Tamaño</label>
                        <select id="size" class="form-select" th:field="*{size.id}">
                            <option selected value="0">Selecciona</option>
                            <option th:each="itemSize: ${listSizes}" th:value="${itemSize.id}"
                                th:text="${itemSize.name}"></option>
                        </select>
                        <div class="form-text text-danger" th:if="${errors != null && errors.get('size') != null}">
                            <span th:each="error: ${errors.get('size')}">
                                [[${error}]]
                                <br>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-3">
                        <label for="personality" class="form-label">Carácter</label>
                        <select id="personality" class="form-select" th:field="*{personality.id}">
                            <option selected value="0">Selecciona</option>
                            <option th:each="itemPersonality: ${listPersonalities}" th:value="${itemPersonality.id}"
                                th:text="${itemPersonality.name}"></option>
                        </select>
                        <div class="form-text text-danger" th:if="${errors != null && errors.get('personality') != null}">
                            <span th:each="error: ${errors.get('personality')}">
                                [[${error}]]
                                <br>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 mb-3">
                        <label class="form-label">Imagen de la mascota</label>
                        <input class="form-control" type="file" name="imageFile" accept="image/png, image/jpeg, image/jpg, image/gif, image/svg">
                        <div class="form-text text-danger" th:if="${fileError != null}">[[${fileError}]]</div>
                    </div>
                    <div class="col-12 px-5">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Actualizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div th:replace="~{fragments/footer :: footer}">
    </div>
</body>

</html>