<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:replace="~{fragments/head :: head}">
</header>

<body>
    <div th:insert="~{fragments/infoToast :: infoToast}">
    </div>
    <div th:replace="~{fragments/navigation :: navigation}">

    </div>
    <!--INICIO SLIDER-->
    <div class="container-fluid">
         <div th:insert="~{fragments/alert :: alerts}">
        </div>
        <!--Init carousel-->
        <div class="row" th:if="${!flagRegister}">
            <div class="col-12">
                <h1 class="text-center">No existen blogs publicados</h1>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" th:if="${flagRegister}">
                <div class="carousel-inner">
                    <div class="carousel-item" th:classappend="${iter.count == 1} ? active  : ''"  th:each="item, iter : ${listBlogs}">
                        <a th:href="@{/blog/find_details_blog/{id}/false (id=${item.id})}">
                            <img  th:src="@{/uploads/{image} (image=${item.image})}" class="img-height d-block w-100" alt="...">
                            <div class="carousel-caption coursel-text">
                                <p class="btn-coursel" style="margin-top: 30px;"><b>[[${item.title}]]</b></p>
                            </div>
                        </a>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!--Finish carousel-->

        <div>
            <br>
            <p class="sp-text"><b>Encuentra una nueva Mascota</b></p>
            <br>
        </div>

        <dic class="row">
            <div class="col-12 col-md-4">
                <a class="nav-link text-white" th:href="@{/pets/adopt/perro}">
                    <img class="mx-auto d-block hg-blog" src="https://cdn.shopify.com/s/files/1/0583/0534/7791/files/Perro_470x.jpg?v=1673481110" alt="">
                    <p class="sp-text-div"><b>PERROS</b></p>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a class="nav-link text-white" th:href="@{blog/general}">
                    <img class="mx-auto d-block hg-blog" src="/images/perrogato.jpg" alt="">
                    <p class="sp-text-div"><b>NOTICIAS</b></p>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a class="nav-link text-white" th:href="@{/pets/adopt/gato}">
                    <img class="mx-auto d-block hg-blog" src="https://cdn.shopify.com/s/files/1/0583/0534/7791/files/gatoo_470x.jpg?v=1674233189" alt="">
                    <p class="sp-text-div"><b>GATOS</b></p>
                </a>
            </div>
        </dic>
    </div>

    <div th:replace="~{fragments/footerBlog :: footer}"></div>



</body>

</html>|